{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="imagemhead">
    <div class="textohead">
        <h1>Assessoria Técnica</h1>
    </div>  
</div>
<div class="container shadow bg-body" style="margin-top: -16px;">
    <br>
    <div class="row d-flex justify-content-center m-4 p-5">
    	<div class="col-7 p-5 mb-5 mt-2 border border-2 border-dark rounded d-flex justify-content-center" style="background-color: rgb(236, 230, 230);">
            <h4 style="font-size: 30px;">
                <ul>
                    <li>PGR</li>
                    <br>
                    <li>PPRA</li>
                    <br>
                    <li>NR 06 Gestão de EPI</li>
                    <br>
                    <li>NR 01 Ordem de Serviço</li>
                    <br>
                    <li>NR 05 Constituição de CIPA</li>                    
                </ul>
			</h4>
		</div>
	</div>
    <br>
</div>

{% include 'partials/_footer.html' %}
{% endblock %}