{% extends 'base.html' %}
{% block content %}
{% load static %}

{% include 'partials/_menu.html' %}
<div class="imagemhead">
    <div class="textohead">
        <p>Assessoria Técnica</p>
    </div>  
</div>
<div class="container shadow bg-body">
    <div class="row justify-content-center">
    	<div class="col-lg-5 col-md-9 col-sm-12 col-xs-12 p-4 mb-3 mt-3 rounded services-bg">
            <h2>
                <ul>
                    <br>
                    <li>PGR</li>
                    <br>
                    <li>PPRA</li>
                    <br>
                    <li>NR 06 Gestão de EPI</li>
                    <br>
                    <li>NR 01 Ordem de Serviço</li>
                    <br>
                    <li>NR 05 Constituição de CIPA</li>
                    <br>                    
                </ul>
			</h2>
		</div>
	</div>
</div>

{% include 'partials/_footer.html' %}
{% endblock %}