{% extends 'base.html' %}
{% block content %}
{% load static %}

{% include 'partials/_menu.html' %}
<div class="imagemhead">
    <div class="textohead">
        <p>Laudos Técnicos</p>
    </div>  
</div>
<div class="container shadow bg-body">
    <div class="row justify-content-center">
    	<div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 p-4 mb-3 mt-3 rounded services-bg">
            <h2>
                <ul>
                    <br>
                    <li>Laudo de Calor</li>
                    <br>
                    <li>Laudo de Ruído Ocupacional</li>
                    <br>
                    <li>Laudo Técnico de Insalubridade</li>
                    <br>
                    <li>Laudo Técnico de Periculosidade</li>
                    <br>
                    <li>LTCAT - Laudo Técnico das Condições Ambientais de Trabalho</li>                    
                    <br>
                </ul>
			</h2>
		</div>
	</div>
</div>

{% include 'partials/_footer.html' %}
{% endblock %}