{% extends 'base.html' %}
{% block content %}
{% load static %}

{% include 'partials/_menu.html' %}
<div class="imagemhead">
    <div class="textohead">
        <p>Laudos Técnicos</p>
    </div>  
</div>
<div class="container shadow bg-body">
    <br><br>
    <div class="row justify-content-center p-5">
    	<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 p-5 mt-2 rounded mb-4" style="background-color: rgb(236, 230, 230);">
            <h4 style="font-size: 30px;">
                <ul>
                    <li>Laudo de Calor</li>
                    <br>
                    <li>Laudo de Ruído Ocupacional</li>
                    <br>
                    <li>Laudo Técnico de Insalubridade</li>
                    <br>
                    <li>Laudo Técnico de Periculosidade</li>
                    <br>
                    <li>LTCAT - Laudo Técnico das Condições Ambientais de Trabalho</li>                    
                </ul>
			</h4>
		</div>
	</div>
    <br><br>
</div>

{% include 'partials/_footer.html' %}
{% endblock %}