{% extends 'base.html' %}
{% block content %}
{% load static %}

{% include 'partials/_menu.html' %}
<div class="imagemhead">
    <div class="textohead">
        <p>Perícias Trabalhistas</p>
    </div>  
</div>
<div class="container shadow bg-body">
    <div class="row d-flex justify-content-center">
    	<div class="col-lg-7 col-md-9 col-sm-12 col-xs-12 p-4 mb-3 mt-3 rounded services-bg">
			<h3>Assistência Técnica em Perícias Trabalhistas</h3>
            <hr>
            <h4>
                Peritos especializados com vasta experiência em perícias de:
                <ul>
                    <li>Periculosidade</li>
                    <li>Insalubridade</li>
                </ul>
                <hr>
                Etapas:
                <ol>
                    <li>Estudo do Processo: Inicial e Contestação</li>
                    <li>Elaboração dos Quesitos</li>
                    <li>Contato com o perito judicial</li>
                    <li>Perícia em dia e hora agendados pelo perito</li>
                    <li>Elaboração do "Parecer Técnico Pericial"</li>
                    <li>Impugnação (caso o laudo pericial não seja favorável à empresa):
                        <ul>
                            <li>Estudo do laudo pericial</li>
                            <li>Elaboração de subsídios para contestação</li>
                            <li>Elaboração de quesitos suplementares</li>
                        </ul>
                    </li>
                </ol>
			</h4>
		</div>
	</div>
</div>

{% include 'partials/_footer.html' %}
{% endblock %}