{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="imagemhead">
    <div class="textohead">
        <h1>Treinamentos Técnicos</h1>
    </div>  
</div>
<div class="container shadow bg-body mt-4"> 
    <div class="row d-flex justify-content-center g-5 p-5">
    	<div class="col-9 p-5 mt-5 border border-1 border-dark rounded" style="background-color: rgb(236, 230, 230);">
            <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
                <div class="col">
                  <div class="card p-3">
                    <img src="{% static 'gaspar_consultoria/images/img-21.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Cipa</h5>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card p-3">
                    <img src="{% static 'gaspar_consultoria/images/img-22.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Primeiros Socorros</h5>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card p-3">
                    <img src="{% static 'gaspar_consultoria/images/img-23.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Brigada de Incêndio</h5>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card p-3">
                    <img src="{% static 'gaspar_consultoria/images/img-19.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">NR-35 - Trabalho em Altura</h5>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card p-3">
                      <img src="{% static 'gaspar_consultoria/images/img-24.jpg' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Segurança em Serviços com Eletricidade</h5>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-3">
                      <img src="{% static 'gaspar_consultoria/images/img-25.jpg' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">NR-6 - EPI - Uso e Conservação</h5>
                      </div>
                    </div>
                </div>
            </div>
		    </div>
	  </div>
    <br><br>
</div>

{% include 'partials/_footer.html' %}
{% endblock %}