{% extends 'base.html' %}
{% block content %}
{% load static %}

{% include 'partials/_menu.html' %}
<div class="imagemhead">
    <div class="textohead">
        <p>Treinamentos Técnicos</p>
    </div>  
</div>
<div class="container shadow bg-body"> 
    <div class="row justify-content-center">
    	<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 rounded services-bg mb-3 mt-3">
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-3 row-cols-sm-2  text-center g-1">
                <div class="col">
                  <div class="card">
                    <img src="{% static 'gaspar_consultoria/images/img-21.png' %}" class="card-img-top img-shadow" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Cipa</h5>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="{% static 'gaspar_consultoria/images/img-22.jpg' %}" class="card-img-top img-shadow" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Primeiros Socorros</h5>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="{% static 'gaspar_consultoria/images/img-23.png' %}" class="card-img-top img-shadow" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Brigada de Incêndio</h5>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="{% static 'gaspar_consultoria/images/img-19.jpg' %}" class="card-img-top img-shadow" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">NR-35 - Trabalho em Altura</h5>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card">
                      <img src="{% static 'gaspar_consultoria/images/img-24.jpg' %}" class="card-img-top img-shadow" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">NR-10</h5>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                      <img src="{% static 'gaspar_consultoria/images/img-25.jpg' %}" class="card-img-top img-shadow" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Uso e Conservação EPI</h5>
                      </div>
                    </div>
                </div>
            </div>
		    </div>
	  </div>
</div>

{% include 'partials/_footer.html' %}
{% endblock %}