{% load static %}

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 text-center">
      <div class="col">
          <a class="index-font" href="{% url 'pericias' %}">
          <img src="{% static 'gaspar_consultoria/images/img-15.jpg' %}" class="img-fluid img-card" alt="...">
          <div class="card-body card-font">
            <p>Perícias</p>
          </div>
          </a>
      </div>
      <div class="col">
          <a class="index-font" href="{% url 'treinamentos' %}">
          <img src="{% static 'gaspar_consultoria/images/img-9.jpg' %}" class="img-fluid img-card" alt="...">
          <div class="card-body card-font">
            <p>Treinamentos</p>
          </div>
          </a>
      </div>
      <div class="col">
        <a class="index-font" href="{% url 'laudos' %}">
        <img src="{% static 'gaspar_consultoria/images/img-12.jpg' %}" class="img-fluid img-card" alt="...">
        <div class="card-body card-font">
          <p>Laudos Técnicos</p>
        </div>
        </a>
      </div>
      <div class="col">
          <a class="index-font" href="{% url 'assessoria' %}">
          <img src="{% static 'gaspar_consultoria/images/img-17.jpg' %}" class="img-fluid img-card" alt="...">
          <div class="card-body card-font">
            <p>Assessoria Técnica</p>
          </div>
          </a>
      </div>
  </div>
</div>