{% load static %}

<footer>
        <div class="container-fluid bg-black">
            <div class="row">
                <div class="col-5">
                    <img src="{% static 'gaspar_consultoria/images/crea_sp.png' %}" class="img-1-footer" alt="">
                </div>
                <div class="col">
                    <h4 class="whatsapp-footer"><a class="whatsapp-footer" href="https://web.whatsapp.com/send?phone=5511981337295" target="_blank">Contato: (11) 98133-7295 <i class="fa fa-whatsapp"></i></a></h4>
                </div>
            </div>        
        </div>
</footer>
