{% load static %}

<footer>
        <div class="container-fluid bg-black">
            <div class="row">
                <div class="col">
                    <img src="{% static 'gaspar_consultoria/images/crea_sp.png' %}" class="img-1-footer" alt="">
                </div>
                <div class="col">
                    <h4 class="whatsapp-footer"><a class="whatsapp-footer" href="https://api.whatsapp.com/send?phone=5511981337295" target="_blank">Contato: (11) 98133-7295 <i class="fa fa-whatsapp"></i></a></h4>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col text-center footer-text">
                    <p>Todos os direitos reservados à Gaspar Consultoria © 2021. Criado por <a href="https://api.whatsapp.com/send?phone=5519995755305" title="Olá! Te encontrei no site Gaspar Consultoria" target="_blank">Lugac</a></p>
                </div>
            </div>        
        </div>
</footer>
