{% load static %}

<section class="bg-black">
    <footer>
            <div class="container p-2">
                <div class="row">
                    <div class="col-3 p-3">
                        <img src="{% static 'gaspar_consultoria/images/crea_sp.png' %}" style="height: 60px; max-width: 200px; position: relative; margin-inline: 30px; bottom: 1px;" alt="">
                    </div>
                    <div class="col-3 p-3">
                        <img src="{% static 'gaspar_consultoria/images/img-7.png' %}" style="height: 60px; max-width: 300px; position: relative; margin-left: 850px;" alt="">
                    </div>
                    <div class="col-3 p-3 mt-3">
                        <h4 style="margin-left: -100px; color: white ;" alt="">Contato: (11) 98133-7295<a class="whatsapp-footer" href="https://web.whatsapp.com/send?phone=5511981337295" target="_blank">  <i class="fa fa-whatsapp"></i></a></h4>
                    </div>
                </div>        
            </div>
    </footer>
</section>