@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abel&display=swap);


body {
    height: 100%;
    width: 100%;
    font-family: 'Abel', sans-serif;
    background-color: dodgerblue;
}

footer {
  height: auto;
}

.imagemhead {
    background-image: url(img/logo/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 18vh;
    position: relative;
    object-fit: cover;
  }

.textohead {
    text-align: center;
    position: absolute;
    top: 14vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 1.8rem;
}

.whatsapp-link {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 6vh;
  right: 3.5vh;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 5px 5px #888;
  z-index: 1000;
}

.whatsapp-footer {
  width: 100%;
  height: auto;
  margin-top: 2vh;
  color: #fff;
  font-size: 100%;
  text-decoration: none;
  font-size: 1.2rem;
}

.fa-whatsapp {
  margin-top: 16px;
}

.img-1-footer {
  margin: 20px;
  height: auto;
  width: 15%;
}

.img-card {
  height: 21vh;
  margin-top: 1vh;
  box-shadow: 4px 4px 4px 1px;
}

.img-shadow {
  box-shadow: 4px 4px 4px 1px black;
}

.fixed {
  position: fixed;
  z-index: 1000;
}

.index-font {
  font-size: 1.25rem;
  text-decoration: none;
  color: rgb(31, 30, 30);
}


#navbar {
    background-color: #333;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
  }
  
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
#navbar a:hover {
    background-color: #ddd;
    color: black;
  }

