@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abel&display=swap);

html {
  background-color: black;
}

body {
    height: auto;
    width: 100%;
    font-family: 'Abel', sans-serif;
    background-color: dodgerblue;
}

/* Head content */
.imagemhead {
    background-image: url(img/logo/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    position: relative;
    object-fit: cover;
  }

.textohead {
    text-align: center;
    position: absolute;
    font-weight: bold;
    top: 19.5vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 1.8rem;
    width: auto;
}

/* Link content */
.whatsapp-link {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20vh;
  right: 4vh;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
  box-shadow: 1px 1px 5px 5px #888;
  z-index: 1000;
}
.fa-whatsapp {
  margin-top: 8px;
}

/* Font & Color content */
.index-font {
  font-size: 1.3rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.card-font{
  font-size: 1.6rem;
  font-weight: bold;
}
.services-bg {
  background-color: rgb(236, 230, 230);
}

/* Image content */
.img-card {
  height: auto;
  width: 100%;
  box-shadow: 4px 4px 4px 1px;
}
.img-shadow {
  box-shadow: 4px 4px 4px 1px black;
}
.fixed {
  position: fixed;
  z-index: 1000;
}


/* Footer content */
footer {
  height: auto;
  width: 100%
}
.whatsapp-footer {
  width: fit-content;
  height: auto;
  margin-left: auto;
  margin-top: 3vh;
  color: #fff;
  text-decoration: none;
  font-size: 1.2vw;
}
.img-1-footer {
  margin-top: 2vh;
  height: 6vh;
  width: auto;
}
.footer-text {
  color: blanchedalmond;
  font-size: 0.8rem;
}

@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .whatsapp-footer {
    font-size: 3.6vw;
    margin-top: 2vh;
  }
  .index-font {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .card-font{
    font-size: 1.3rem;
    font-weight: bold;
  }
  .textohead {
    top: 18vh;
    font-size: 1.3rem;
    width: 320px
}
.imagemhead {
  height: 20vh;
}

@media screen and (width: 720px) {
  .img-card {
    height: auto;
    width: 23vw;
    box-shadow: 4px 4px 4px 1px;
  }
}

@media screen and (min-width: 768px) and (max-width: 2560px) {
  .img-1-footer {
    margin-top: 2vh;
    margin-left: 4vh;
  }
  .whatsapp-footer {
    width: fit-content;
    height: auto;
    margin-left: auto;
    margin-right: 3vh;
    margin-top: 3vh;
    color: #fff;
    text-decoration: none;
    font-size: 1.15vw;
  }

}

@media screen and (min-width: 992px) and (max-width: 1399.98px) {
  .img-card {
    height: 20vh;
    width: 23vw;
    box-shadow: 4px 4px 4px 1px;
  }
}

@media screen and (min-width: 2000px) and (max-width: 2560px) {
  body {
    height: auto;
    zoom: 180%;
  }
  .whatsapp-footer {
    font-size: 0.7vw;
  } 
}