{% extends 'base.html' %}
{% block content %}
{% load static %}

{% include 'partials/_menu.html' %}
<div class="imagemhead">
    <div class="textohead">
        <p>Nossos Clientes</p>
    </div>  
</div>
<div class="container shadow bg-body">
  <br><br><br><br> 
    <div class="row justify-content-center">
    	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 rounded" style="background-color: rgb(236, 230, 230);">
            <div class="row row-cols-1 row-cols-md-4 g-3 mt-4 mb-5">
                <div class="col">
                  <div class="card">
                    <img src="{% static 'gaspar_consultoria/images/logos_clientes/aap.png' %}" class="card-img-top" alt="...">
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="{% static 'gaspar_consultoria/images/logos_clientes/frutarom.jpg' %}" class="card-img-top" alt="...">
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="{% static 'gaspar_consultoria/images/logos_clientes/grupo_mapa.png' %}" class="card-img-top" alt="...">
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="{% static 'gaspar_consultoria/images/logos_clientes/interlux.png' %}" class="card-img-top" alt="...">
                  </div>
                </div>
                <div class="col">
                    <div class="card">
                      <img src="{% static 'gaspar_consultoria/images/logos_clientes/luxor.png' %}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                      <img src="{% static 'gaspar_consultoria/images/logos_clientes/marles.png' %}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                      <img src="{% static 'gaspar_consultoria/images/logos_clientes/petlux.png' %}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                      <img src="{% static 'gaspar_consultoria/images/logos_clientes/sodexo2.png' %}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                      <img src="{% static 'gaspar_consultoria/images/logos_clientes/souza_cruz.png' %}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                      <img src="{% static 'gaspar_consultoria/images/logos_clientes/vastec.png' %}" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
</div>
{% include 'partials/_footer.html' %}
{% endblock %}