{% extends 'base.html' %}
{% block content %}
{% load static %}

{% include 'partials/_menu.html' %}
<div class="imagemhead">
    <div class="textohead">
        <p>Nossos Clientes</p>
    </div>  
</div>
<div class="container shadow bg-body">
    <div class="row justify-content-center">
    	<div class="col-lg-9 col-md-10 col-sm-12 col-xs-12 rounded mt-3 mb-3 services-bg">
        <br>
            <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-xs-2 g-1 px-3 py-3">
                <div class="col">
                  <div class="card">
                    <img src="{% static 'gaspar_consultoria/images/logos_clientes/aap.png' %}" class="card-img-top img-shadow" alt="...">
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="{% static 'gaspar_consultoria/images/logos_clientes/frutarom.jpg' %}" class="card-img-top img-shadow" alt="...">
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="{% static 'gaspar_consultoria/images/logos_clientes/grupo_mapa.png' %}" class="card-img-top img-shadow" alt="...">
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="{% static 'gaspar_consultoria/images/logos_clientes/interlux.png' %}" class="card-img-top img-shadow" alt="...">
                  </div>
                </div>
                <div class="col">
                    <div class="card">
                      <img src="{% static 'gaspar_consultoria/images/logos_clientes/luxor.png' %}" class="card-img-top img-shadow" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                      <img src="{% static 'gaspar_consultoria/images/logos_clientes/marles.png' %}" class="card-img-top img-shadow" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                      <img src="{% static 'gaspar_consultoria/images/logos_clientes/petlux.png' %}" class="card-img-top img-shadow" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                      <img src="{% static 'gaspar_consultoria/images/logos_clientes/sodexo2.png' %}" class="card-img-top img-shadow" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                      <img src="{% static 'gaspar_consultoria/images/logos_clientes/souza_cruz.png' %}" class="card-img-top img-shadow" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                      <img src="{% static 'gaspar_consultoria/images/logos_clientes/vastec.png' %}" class="card-img-top img-shadow" alt="...">
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>
{% include 'partials/_footer.html' %}
{% endblock %}