{% extends 'base.html' %}
{% block content %}
{% load static %}

{% include 'partials/_menu.html' %}
<div class="imagemhead">
    <div class="textohead">
        <p>Contato</p>
    </div>  
</div>
<div class="container shadow bg-body">
	<div class="row justify-content-center">
    	<div class="col-lg-9 col-md-10 col-sm-12 col-xs-12 p-5 mt-3 mb-3 rounded services-bg">
            <p class="text-center index-font"><b>Formulário de Contato</b></p>
            <form action="https://formsubmit.co/peritapatricia@outlook.com" method="POST">
                <div class="input-group mb-3 p-2">
                    <span class="input-group-text" id="basic-addon1">Nome</span>
                    <input type="text" name="name" class="form-control" placeholder="Seu nome aqui" aria-label="Name" aria-describedby="basic-addon1" required>
                </div>
                <div class="input-group mb-3 p-2">
                    <span class="input-group-text" id="basic-addon1">Telefone</span>
                    <input type="tel" name="tel" class="form-control" placeholder="Seu número aqui. Ex: 11940005000" aria-label="Tel" aria-describedby="basic-addon1" required>
                </div>
                <div class="input-group mb-3 p-2">
                    <span class="input-group-text" id="basic-addon1">E-mail</span>
                    <input type="email" name="email" class="form-control" placeholder="exemplo@gmail.com" aria-label="Email" aria-describedby="basic-addon1" required>
                </div>
                <div class="input-group mb-3 p-2">
                    <span class="input-group-text" id="basic-addon1">Corpo do e-mail</span>
                    <textarea class="form-control" aria-label="With textarea" placeholder="Digite o corpo do e-mail aqui" required></textarea>
                </div>
                <input type="hidden" name="_cc" value="carvalhol.amt@gmail.com">
                <input type="hidden" name="_subject" value="Novo E-mail - GASPAR CONSULTORIA!">
                <input type="hidden" name="_captcha" value="false">
                <input type="hidden" name="_autoresponse" value="Muito obrigado por entrar em contato com a Gaspar Consultoria. 
                Iremos responder o mais breve possível.">
                <div class="button d-flex justify-content-center">
                    <button class="bg-info rounded-pill mt-4 p-4 py-1 px-3" type="submit">Enviar</button>
                </div>
           </form>
           <br>
        </div>
    </div>
</div>
{% include 'partials/_footer.html' %}

{% endblock %}