{% extends 'base.html' %}
{% block content %}
{% load static %}

{% include 'partials/_menu.html' %}
<div class="imagemhead">
    <div class="textohead">
        <p>Bem vindo à Gaspar Consultoria</p>
    </div>
</div>
<div class="container shadow bg-body">
    <br>
    {% include 'partials/_cards.html' %}
    <br>
    <hr>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12  mt-4 ms-4 mb-4">
                <a href="{% url 'sobre' %}">
                <img src="{% static 'gaspar_consultoria/images/img-2.jpg' %}" class="img-fluid rounded img-shadow" alt="...">
                </a>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ms-4 mt-4">
                <div class="m-3">
                    <a class="index-font" href="{% url 'sobre' %}">
                    <h3>História</h3>
                    <p> Fundada em 2014, A <b>Gaspar Consultoria</b> 
                        tem como missão entregar soluções em Segurança do Trabalho para sua empresa. 
                        <br>Desde a sua fundação, vem prestando serviços 
                        de forma diferenciada no segmento de engenharia de segurança do trabalho, 
                        através de uma postura de parceria e responsabilidade junto ao 
                        cliente, garantindo a execução dos trabalhos no cumprimento da legislação 
                        trabalhista vigente. <br> Se utilizando da expertise de seu corpo de 
                        engenheiros, apresenta um trabalho de qualidade, inovação, sempre embasado 
                        nas normas nacionais e internacionais atualizadas, com equipamentos de 
                        primeira linha, calibrados e certificados pelo INMETRO, de forma a 
                        conseguir com esse diferencial fidelizar seus clientes.
                    </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <a class="index-font" href="{% url 'clientes' %}">
                <h3 class="mt-5">Clientes</h3>
                <p>A <b>Gaspar Consultoria</b> trabalha gerando valor para diversas empresas
                    respeitadas em todo o país. Clique e conheça mais quais são nossos clientes parceiros.                    
                </p>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <a href="{% url 'clientes' %}" style="color: black; text-decoration: none;">
                <img src="{% static 'gaspar_consultoria/images/img-26.jpg' %}" class="img-fluid rounded img-shadow" alt="...">
                </a>
            </div>
        </div>
    </div>
    <br><br>
</div>

{% include 'partials/_footer.html' %}

{% endblock %}