{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="imagemhead">
    <div class="textohead">
        <h1>Sobre Nós</h1>
    </div>  
</div>
<div class="container shadow bg-body" style="margin-top: -16px;">
	<div class="row d-flex justify-content-center m-3 ms-4 p-4">
    	<div class="col-8 p-5 mt-5 border border-1 border-dark rounded" style="background-color: rgb(236, 230, 230);">
			<h4>
				A <strong><u>Gaspar Consultoria</u></strong> é uma empresa especializada em assistências técnicas periciais, laudos e treinamentos que atua nas áreas de Medicina e Engenharia de segurança do trabalho. 
				<br>
				<br>
				É reconhecida pela excelência com que atua nos mais diversos setores econômicos do país oferecendo consultoria e assessoria para empresas.
				<br>
				<br> 
				Detém conhecimento, experiência, recursos e organização para viabilizar e agilizar o melhor atendimento ao seus clientes, entregando a alta qualidade que consolida a sua marca no mercado.
				<br><br>
			</h4>
		</div>
	</div>
	<br><br><br><br><br>
</div>

{% include 'partials/_footer.html' %}

{% endblock %}